{% extends 'header.html' %}

{% block title %}Code Pro - About{% endblock %}



{% block content %}
<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>It's Nice to Meet You!</small>
                </h1>
                <p>CodePro is an organization that was created to help people learn the basics of computer programming. We are offering tons of free tutorials that helps you improve your coding skills a lot.</p>
            </div>
 </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="img/profile_pic.png" alt="">
                <h3>Ermal Abiti
                    <small>CEO & Founder</small>
                </h3>
                <p><a href="https://twitter.com/ermalabiti" target="_blank">Twitter</a> - <a href="https://github.com/malidevi" target="_blank">GitHub</a></p>
            </div>
            
        </div>
{% endblock %}